* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: "Fraunces", monospace;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
