.branches {
  padding-bottom: 120px;
}

.branches__block {
  text-align: center;
}

.branches__title {
  color: #83888f;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 72px;
}

.branches__box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.branches__box {
  transition: all 0.3s;
}

.branches__box:hover {
  transform: scale(1.1);
}

.branches__image {
  margin-bottom: 47px;
}

.branches__name {
  color: #333d4b;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 22px;
}

.branches__address {
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  .branches {
    padding-left: 20px;
    padding-right: 20px;
  }
  .branches__block {
    text-align: start;
  }

  .branches__box-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .branches {
    padding-left: 145px;
    padding-right: 145px;
  }
}
