.about-hero {
  padding-bottom: 120px;
}

.about-hero__block {
  background-image: url(../../img/about-hero-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 111px 24px 87px 24px;
  text-align: center;

  border-radius: 10px;
}

.about-hero__title {
  color: #fefcf7;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 24px;
}

.about-hero__description {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .about-hero {
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-hero__block {
    background-image: url(../../img/about-hero-bg-tablet.jpg);
    padding: 120px 60px;
    text-align: start;
  }

  .about-hero__title {
    font-size: 32px;
    line-height: 40px;
  }

  .about-hero__description {
    width: 400px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1100px) {
  .about-hero {
    padding-bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .about-hero__block {
    background-image: url(../../img/about-hero-bg-desktop.jpg);
    padding: 140px 85px;
    text-align: start;
  }

  .about-hero__title {
    font-size: 40px;
    line-height: 48px;
  }

  .about-hero__description {
    width: 445px;
    font-size: 16px;
    line-height: 26px;
  }
}

// .about-hero {
//   padding-bottom: 120px;
// }

// .about-hero__block {
//   text-align: center;
//   padding: 110px 30px 90px 30px;

//   background-image: url(../../img/about-hero-bg-mobile.png);
//   background-repeat: no-repeat;
//   background-size: cover;

//   border-radius: 20px;
//   overflow: hidden;
// }

// .about-hero__title {
//   color: #fefcf7;
//   font-size: 28px;
//   font-style: normal;
//   font-weight: 900;
//   line-height: 28px;
//   margin-bottom: 24px;
// }

// .about-hero__description {
//   color: #fefcf7;
//   font-family: Barlow;
//   font-size: 15px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 25px;
//   opacity: 0.8;
// }

// @media screen and (min-width: 768px) {
//   .about-hero {
//     padding-left: 20px;
//     padding-right: 20px;
//   }

//   .about-hero__block {
//     padding: 120px 60px;
//     background-image: url(../../img/about-hero-bg-tablet.jpg);
//   }

//   .about-hero__content {
//     width: 400px;
//     text-align: start;
//   }

//   .about-hero__title {
//     font-size: 32px;
//     font-weight: 900;
//     line-height: 40px;
//   }
// }

// @media screen and (min-width: 1100px) {
//   .about-hero {
//     padding-left: 60px;
//     padding-right: 60px;
//   }

//   .about-hero__block {
//     padding: 140px 85px;
//     background-image: url(../../img/about-hero-bg-desktop.jpg);
//   }

//   .about-hero__title {
//     font-size: 40px;
//     font-weight: 900;
//     line-height: 48px;
//   }
// }
