.progress {
  padding-bottom: 120px;
}

.progress__title {
  color: #83888f;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 120px;
}

.progress__box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: 80px;
}

.progress__box {
  text-align: center;
}

.progress__box:last-child .progress__numbers::after {
  content: none;
}

.progress__numbers {
  display: block;
  position: relative;
  color: #fdd6ba;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
}

.progress__box-title {
  color: #333d4b;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin: 24px 0;
}

.progress__box-description {
  color: #333d4b;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.progress__action-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress__action {
  margin: 0 auto;
  color: #fefcf7;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;

  border-radius: 6px;
  border: 1px solid #0e8784;
  background: #0e8784;
  padding: 16px 32px;
  transition: all 0.3s;
}

.progress__action:hover {
  border: 1px solid #0e8784;
  background-color: transparent;
  color: #0e8784;
}

@media screen and (min-width: 768px) {
  .progress {
    padding-left: 20px;
    padding-right: 20px;
  }

  .progress__title {
    text-align: start;

    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  // .progress__title::after {
  //   content: "";
  //   width: 500px;
  //   height: 30px;
  //   display: block;

  //   background-image: url(../img/progress-bar.svg);
  //   background-repeat: no-repeat;
  //   background-size: contain;
  // }

  .progress__box-wrapper {
    --progress-box-gap: 20px;

    width: 100%;
    flex-direction: row;
    gap: var(--progress-box-gap);
  }

  .progress__box {
    width: 33%;
    text-align: start;
  }

  .progress__action-wrapper {
    display: block;
  }

  .progress__numbers::before {
    content: "";
    width: 31px;
    height: 31px;
    display: inline-block;

    background-image: url(../../img/circle.svg);
    background-repeat: no-repeat;

    position: absolute;
    top: -60px;
    left: 0;
    z-index: 1;
  }

  .progress__numbers::after {
    content: "";
    display: block;
    width: calc(100% + var(--progress-box-gap));
    height: 2px;
    background-color: #fdd6ba;

    position: absolute;
    top: -45px;
  }
}

@media screen and (min-width: 1100px) {
  .progress {
    padding-left: 145px;
    padding-right: 145px;
  }

  .progress__box-wrapper {
    --progress-box-gap: 95px;
  }

  // .progress__title::after {
  //   content: "";
  //   width: 760px;
  //   height: 30px;
  //   display: block;

  //   background-image: url(../img/progress-bar.svg);
  //   background-repeat: no-repeat;
  //   background-size: contain;
  // }

  // .progress__box-title {
  //   width: 230px;
  // }

  // .progress__box {
  //   width: 285px;
  // }
}
